body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-no-style-button{
  background-color:inherit;
  border:0px;
  transition: 0.7s ease-in-out;
}

.custom-no-style-button:hover{
  background:black;
  color:white;
  box-sizing: border-box;
  padding:15px 10px;
  transition: 0.7s ease-in-out;
}
a.no-link-style{
  text-decoration: none;
  color:black;
}

.menubar-wrapper{
  text-transform: uppercase;
}